/* Загальний стиль для всіх сторінок */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #007bff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
